{% extends 'base.html' %}
{% load static %}
{% block title %} My CVs {% endblock title %}
{% block content %}
    <h1>My CVs</h1>

    <form method="GET" action="{% url 'cv_participles_search' %}">
        <input type="text" name="query" placeholder="Search CVs">
        <button type="submit">Search</button>
      </form>    

    {% if user_cv|length > 0 %}
        <ul>
            {% for cv in page_obj %}
                <li>
                    {% if cv.photo %}
                        <img class="cv-photo" src="{{ cv.photo.url }}">
                    {% else %}
                        <img class="cv-photo default-photo" src="{% static 'ptu12_cv/img/default_cover.jpg' %}">
                    {% endif %}
                    <a href="{% url 'cv_details' cv.pk %}">
                        {{ cv.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="{% url 'create_cv' %}">Create new CV</a></li>
        </ul>
    {% else %}
        <p>No CVs found.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
          {% endif %}
        </span>
    </div>
{% endblock %}
