{% extends 'base.html' %}
{% block title %}Update CV{% endblock title %}
{% block content %}
  <h1>Update CV</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend><strong>Personal Information:</strong></legend>
      <ul>
        <li>{{ form.user.label_tag }} {{ form.user }}</li>
        <li>{{ form.first_name.label_tag }} {{ form.first_name }}</li>
        <li>{{ form.last_name.label_tag }} {{ form.last_name }}</li>
        <li>{{ form.email.label_tag }} {{ form.email }}</li>
        <li>{{ form.phone_number.label_tag }} {{ form.phone_number }}</li>
        <li>{{ form.city.label_tag }} {{ form.city }}</li>
        <li>{{ form.picture }}</li>
        <li>{{ form.title.label_tag }} {{ form.title }}</li>
        <li>{{ form.scope.label_tag }} {{ form.scope }}</li>
        <li>{{ form.about_user.label_tag }} {{ form.about_user }}</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend><strong>Education:</strong></legend>
      {{ education_formset.management_form }}
      {% for form in education_formset %}
      <ul>
        <li>{{ form }}</li>
      </ul>
      {% endfor %}    
    </fieldset>
    <fieldset>
      <legend><strong>Work Experience:</strong></legend>
      {{ work_experience_formset.management_form }}
      {% for form in work_experience_formset %}
      <ul>
      <li>{{ form }}</li>
      </ul>
      {% endfor %}
    </fieldset>
    <fieldset>
      <legend><strong>Skills:</strong></legend>
      {{ skill_formset.management_form }}
      {% for form in skill_formset %}
      <ul>
      <li>{{ form }}</li>
      </ul>
      {% endfor %}
    </fieldset>
    <button type="submit">Update</button>
  </form>
{% endblock content %}