html {
  font-family: "Tahoma", sans-serif;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

.nav-panel {
  display: flex;
  justify-content: right;
  background-color: #E9F1FA;
  padding: 0rem;
}

.nav {
  display: flex;
  align-items: center; 
  list-style-type: none;
  padding: 0rem;
}

.nav-button {
  margin-bottom: 15px;
  margin-left: 15px;
}

.nav-button:last-child {
  margin-right: 15px;
}

footer {
  background-color: #E9F1FA;
  padding: 1rem;
  color: #17202A;
  text-align: left;
  }

.logo {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-right: auto;
}

.default-photo {
    max-width: 200px;
    max-height: 200px;
  }

  .education-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .workexperience-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .skill-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .float-right {
    float: right;
  }

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ABE4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
}

.box {
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    border: 1px solid #00ABE4;
    border-radius: 0.5rem;
}
.box-info {
    background-color: #00ABE4;
}
.box-warning {
    background-color: #00ABE4;
}
.box-error {
    background-color: #00ABE4;
}
.box-success {
    background-color: #00ABE4;
}
.box-debug {
    background-color: #00ABE4;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 1.5px;
  margin: 1.5px;
}