html {
  font-family: "Tahoma", sans-serif;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  padding: 0;
  margin: 1rem;
  background-color: #FFFFFF;
}

.nav-panel {
  display: flex;
  justify-content: right;
  background-color: #E9F1FA;
  padding: 0rem;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-button {
  display: flex;
  align-items: center;
}

.nav-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ABE4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  font-size: medium;
  margin-left: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E9F1FA;
  padding: 1rem;
  color: #17202A;
  text-align: left;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-right: auto;
}

.default-photo {
    max-width: 200px;
    max-height: 200px;
  }

  .education-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .workexperience-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .skill-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .float-right {
    float: right;
  }

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ABE4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  font-size: medium;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ABE4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  font-size: medium;
}

input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ABE4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  font-size: medium;
}

.box {
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    border: 1px solid #00ABE4;
    border-radius: 0.5rem;
}
.box-info {
    background-color: #00ABE4;
}
.box-warning {
    background-color: #00ABE4;
}
.box-error {
    background-color: #00ABE4;
}
.box-success {
    background-color: #00ABE4;
}
.box-debug {
    background-color: #00ABE4;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 1.5px;
  margin: 1.5px;
}

.education-separator {
  margin-bottom: 20px;
}

.workexperience-separator {
  margin-bottom: 20px;
}


.pagination  {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pagination  ul {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 10;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  background-color: #000000;
  border: 1px solid #090909;
  border-radius: 3px;
}

.pagination .active a {
  background-color: #007bff;
  color: #050505;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}
