{% extends 'base.html' %}
{% load static %}

{% block title %}CV's Details{% endblock title %}

{% block content %}
  <h1>CV's Details</h1>
    {% if user.is_superuser or user.hrrepresentative %}
        <h2><a class="button float-right" href="{% url 'create_meeting_reservation' cv_user_id=cv.user.id %}">Create Meeting Reservation</a></h2>
    {% endif %}
    {% include 'ptu12_cv/cv_details_pdf.html' %}
    <ul>
    <a href="{% url 'cv_details_pdf' cv_id=cv.pk %}">Generate PDF</a>
    {% if not user.hrrepresentative %}
      <a href="{% url 'create_cv' %}">Create additional CV</a>
      <a href="{% url 'update_cv' %}?cv_id={{ cv.pk }}">Update your CV</a>
      <a href="{% url 'delete-cv' cv_id=cv.id %}">Delete CV</a>
    </ul>
    {%endif%}
{% endblock content %}
