{% extends 'base.html' %}
{% block title %}Participles Overview{% endblock title %}
{% block content %}
  <h1>Participles Overview</h1>
{% include 'includes/paginator_nav.html' %}
  <ul>
    {% for participle in participles %}
      <li>
        <a href="{% url 'cv_details' pk=participle.pk %}">{{ participle.first_name }} - {{ participle.last_name }} - {{ participle.city }} - {{ participle.scope }} </a>
      </li>
    {% endfor %}
  </ul>
{% include 'includes/paginator_pages.html' %}
{% endblock content %}