{% extends 'base.html' %}
{% load static %}
{% block title %} CVs {{ block.super }}{% endblock title %}
{% block content %}
<h1> Tips to make your CV INCREADIBLE! </h1>

<div class="cv-tips">

    
    <h2 class="heading-gap" > What is a CV? </h2>
    
    <div class="cv-tips2">

<p> CV stands for curriculum vitae, which is Latin for “course of life.” In some countries like India, South Africa and Australia, a CV and resume are interchangeable. However, in the United States and many parts of Europe, a CV is a detailed outline of your academic career and accomplishments.
    In the United States, you may need a CV to apply for a teaching or research position. If you’re applying for a job outside the US that requests a CV, you can send your resume. </p>

</div>

<img src="./images/resume3_lg.jpg" alt="resume3_lg">


<h2 class="heading-gap" >Start strong</h2>
<div class="cv-tips3">

<p>Start with a summary of your skills and key accomplishments. This will attract the recruiter and grab their attention from the outset. This personal profile is an important part of your CV and tells the recruiter exactly who you are, so you want to make the right impression.
Here is an example:
“I am an enthusiastic, hardworking and committed individual with a proven track record of designing websites and creating databases. I have strong technical skills, as well as excellent interpersonal skills. I am eager to be challenged in order to grow and expand on the skillset I have gained through my experience in the IT sector.”<p>

</div>

<h2 class="heading-gap">Emphasize results rather than responsibilities</h2>

<div class="cv-tips4">


<p>Instead of just listing your past responsibilities, make your CV stand out by emphasizing your results, using quantifiable data to show your accomplishments. So for example, instead of saying “I helped to increase social media engagement for Company X”, write “I increased social media engagement by 38% for Company X”.</p>

</div>


<img src="/online_cv/ptu12_cv/static/images/resume3_lg.jpg" alt="resume3_lg">


<h2 class="heading-gap"> Highlight changes and growth </h2>

<div class="cv-tips5">


<p> In your CV you should focus on your personal development. Show how you have grown and changed in your roles, and the accomplishments you have achieved. This will show the recruiter that you have learnt a lot from your past positions, and that you are committed to learning and expanding your skill set.</p>

</div>


<img src="/online_cv/ptu12_cv/static/images/resumeimage3.jpg" alt="resume3_lg">

</div>


{% endblock content %}
