{% extends 'base.html' %}
{% load static %}

{% block title %}Meeting Reservations{% endblock title %}

{% block content %}
    <h1>Meeting Reservations</h1>

    {% if reservations %}
        <ul>
            {% for reservation in reservations %}
                {% if request.user in reservation.parties.all %}
                    <li>
                        <p>User: {{ reservation.user }}</p>
                        <p>HR Representative: {{ reservation.hr_representative }}</p>
                        <p>Start Time: {{ reservation.start_time }}</p>
                        <p>End Time: {{ reservation.end_time }}</p>
                    </li>
                {% endif %}
            {% empty %}
                <li>You have no meeting reservations.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no meeting reservations.</p>
    {% endif %}
    {% comment %} {% if user.is_superuser or user.hrrepresentative %}
        <h2><a class="button float-right" href="{% url 'create_meeting_reservation' %}">Create Meeting Reservation</a></h2>
    {% endif %}  {% endcomment %}
{% endblock content %}