<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}CV Online{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <ul class="nav">
        <li class="logo">&#128218; CV Online</li>
        <li><a href="{%url 'index' %}">Home</a></li>
        <li><a href="{%url 'participle_view' %}">For HR's</a></li>
        <li><a href="{%url 'index' %}">CVs</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">&#128100; {{ user.get_username }}</a></li>
        <li><a href="{%url 'index' %}">My Cvs</a></li>
        <li><a href="{%url 'logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{%url 'signup' %}">Sign up</a></li>
        <li><a href="{%url 'login' %}">Log in</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
    {% endif %}
{% endif %}

    </ul>
</header>
<main>{%block content%}
{%endblock content %}</main>
<footer><p>&copy; 2023 CV Online</a></p></footer>
</body>
</html>